body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('2.jpeg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: transparent;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    color: #504f4f;
    padding: 20px;
  }
  
  form {
    max-width: 500px;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  label {
    display: block;
    margin-top: 10px;
    color: #333;
  }
  
  input[type="date"],
  input[type="time"] {
    padding: 5px;
    width: 100%;
  }
  
  input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  